  .wine-list {
    background-color: white;
    align-content: center;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    width: 30%;
    text-align: center
  }

  .wine-info {
    background-color: white;
    align-content: center;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    width: 30%;
    text-align: center
  }

p {
    display: inline-block
  }

  body {
    background-image: url("./images/background.jpeg");
    background-color: #cccccc;
    background-size: cover;
    
}

h1 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 6.0rem;
  text-align: center;
  margin-top: 0px;
  color:  #990033;
}

h3 {
  font-family: 'Saira Extra Condensed', sans-serif;
  color:  #990033;
  font-size: 2.0rem;
  margin-top: 10px;
  margin-bottom: 10px;
}