  .wine-list {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 30%;
    text-align: center
  }

  .wine-info {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: inline-block;
    width: 30%
  }

p {
    display: inline-block
  }

  body {
    background-image: url("./images/background.jpeg");
    background-color: #cccccc;
    background-size: cover;
    font-family: 'denseregular';
}

